__pycache__/
checkpoints
itbt_sample
module/__pycache__/
omnidata
results
runs
outputs
aimet_export
qnn_raw_data
*.onnx
*.pth
calibration_data/
*.zip
*.data
*.tflite
*.ipynb
calib_data_npy/
*.cache
*.mp4
*.txt
*.png
*.jpg
*.jpeg
inference_result